 body{
  max-width: 1170px;
  /* background-color: rgba(105, 178, 78, 0.319); */
  margin: 0 auto;
 }
 .card{
  width: 300px;
  border: 2px solid sandybrown;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px rgb(37, 23, 23);
 }
 .card img{
  width: 100%;
  border-radius: 10px;
 }
 .card-section{
  text-align: center;
 }
 .card h3{
  font-size: 1.25em
  font-width:700;
 }
 .card button{
   background-color: rgb(63, 212, 178);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1.25em;
  cursor: pointer;
 }
 .card:hover{
  background-color: aqua;
 }
 .card button:hover{
  background-color: red;
 }
 .card-container{
  display: flex;
  gap: 40px;
  /* ay tag ti important,cause every box ke jaiga dete ehti use korte hove.naile box golo ek line eh chole ahsve. */
  flex-wrap: wrap;
 }